{{ define "main" }}
<div class="reveal">
    <div class="slides">
        <section>
            <section>
                <h2>Why Did I decide to do this?</h2>
                <ul>
                    <li class="fragment">I was lacking as a developer</li>
                    <li class="fragment">Imposter Syndrome</li>
                    <li class="fragment">Making things harder than they should be</li>
                    <li class="fragment">Trouble seeing patterns</li>
                    <li class="fragment">Avoid mental stagnation</li>
                </ul>
            </section>
            <section>
                <h2>When did I decide to do this?</h2>
                <i>Strength Finders was the keystone event for me.</i>
                <br>
                <br>
                <i>Dealing with <strong>Imposter Syndrome</strong></i>
                <br>
                <br>
                <i>Internal Soul Searching for creative juices.</i>
            </section>
        </section>
        <section>
            <section>
                <h2>What is Creative Thinking?</h2>
                    <ul>
                        <li class="fragment">Turning something on it's head</li>
                        <li class="fragment">Getting outside your own headspace</li>
                        <li class="fragment">Keeping your thoughts in a <strong>fluid state</strong></li>
                        <li class="fragment">A cognitive skill that needs exercise.</li>
                    </ul>
                    <img src="{{ $.Site.BaseURL }}/images/Mindblown.gif">
            </section>
            <section>
                <h2>What is it NOT!</h2>
                <img src="{{ $.Site.BaseURL }}/images/Hangover.gif">
            </section>
            <section>
                <h2>Learning To Think Creatively:</h2>
                <ol>
                    <li class="fragment">Stop Looking for Mr. Right</li>
                    <li class="fragment">Forget the Constraints</li>
                </ol>
            </section>
        </section>
        <section>
            <section>
                <h2>Why Should you Think Creatively?</h2>
                <ul>
                    <li class="fragment">Prevents Wheel Spinning</li>
                    <li class="fragment">Grows Confidence</li>
                    <li class="fragment">Cuts Developer Load Times</li>
                    <li class="fragment">Keeps the Conversation Fluid</li>
                </ul>
                <br>
                <img src="{{ $.Site.BaseURL }}/images/Loading.gif">
            </section>
            <section>
                <section>
                    <h1>How Do I Even?</h1>
                    <img src="{{ $.Site.BaseURL }}/images/IsThisCreative.jpg">
                </section>
                <section>
                    <h2></h2>
                </section>
            </section>
        </section>
    </div>
</div>
{{ end }}