{{ define "main" }}
<div class="reveal">
    <div class="slides">
        <section id="Intro">
            <section>
                <h1>Creative Thinking</h1>
                <em>Getting the mental juices flowing by breaking down mental blockages.</em>
            </section>
            <section>
                <h2>Why I Cared?</h2>
                <ul>
                    <li class="fragment">I was lacking as a Developer</li>
                    <li class="fragment">Imposter Syndrome For Days</li>
                    <li class="fragment">Making Things Harder Than They Should Be</li>
                    <li class="fragment">Trouble W/ Pattern Recognition</li>
                    <li class="fragment">Avoid Mental Stagnation</li>
                </ul>
            </section>
            <section>
                <h2>Why Should You Care?</h2>
                <ul>
                    <li class="fragment">Prevents Wheel Spinning</li>
                    <li class="fragment">Grows Confidence</li>
                    <li class="fragment">Cuts Developer Load Time</li>
                    <li class="fragment">Keep the Mental Conversation Going</li>
                </ul>
                <br>
                <img src="{{ $.Site.BaseURL }}/images/Loading.gif">
            </section>
            <section>
                <h2>How Do I Even?</h2>
                <img src="{{ $.Site.BaseURL }}/images/IsThisCreative.jpg">
            </section>
            <section>
                <h2>Are You a Creative Person?</h2>
            </section>
        </section>
        <section id="What_Is_Creative_Thinking">
            <section>
                <h1>What Is Creative Thinking?</h1>
            </section>
            <section>
                <p>Connections from Memories &amp; Experiences.</p>
                <img src="{{ $.Site.BaseURL }}/images/CreativeThinking.png">
            </section>
            <section>
                <p>Everyone is Creative, But How?</p>
                <img src="{{ $.Site.BaseURL }}/images/WhoIsCreative.png">
            </section>
            <section>
                <p>What Happens When We Are All Creative?</p>
                <img src="{{ $.Site.BaseURL }}/images/GroupThink.png">
            </section>
            <section>
                <h3>Thinking creatively sounds easy right?</h3>
            </section>
        </section>
        <section id="Mental_Blocks">
            <section>
                <h2>What about Mental Blocks?</h2>
                <img src="{{ $.Site.BaseURL }}/images/MentalBlock.gif">
                <p>Unfortunately, the creative juices will stop flowing and when they do you are in for a mental
                    drought.</p>
            </section>
            <section>
                <h2>Identifying A Mental Block</h2>
                <ul class="fragment">Constraint Blocks
                    <li>Being Right</li>
                    <li>Being Logical</li>
                    <li>Being Practical</li>
                    <li>Being Knowlegable</li>
                </ul>
                <ul class="fragment">Personality Blocks
                    <li>Not My Domain</li>
                    <li>Afraid To Be Wrong</li>
                    <li>Afraid Of Being Ambiguity</li>
                    <li>Doubting Yourself</li>
                </ul>
                <p class="fragment">but, before we can break our blockages...</p>
            </section>
            <section>
                <h2>Soft &amp; Hard Thinking</h2>
                <p>There are countless ways to thinking. How many can you list?</p>
                <p class="fragment">They all are either a form of hard thinking or soft thinking.</p>
                <ul class="fragment">Soft Thinking
                    <li>Mythical</li>
                    <li>Ambiguous</li>
                    <li>Child</li>
                </ul>
                <ul class="fragment"> Hard Thinking
                    <li>Logical</li>
                    <li>Strict</li>
                    <li>Adult</li>
                </ul>
            </section>
        </section>
        <section id="Breaking_Blocks">
            <section>
                <h2>Breaking Through Constraint Blocks</h2>
                <ul>
                    <li class="fragment">Remove Each Constraint One By One</li>
                    <li class="fragment">Add A New Constraint</li>
                    <li class="fragment">Try Soft Thinking</li>
                    <li class="fragment">Break The Golden Hammer</li>
                </ul>
            </section>
            <section>
                <h2>Breaking Through Personality Blocks</h2>
                <ul>
                    <li class="fragment">Take A Walk In Someone Else's Shoes</li>
                    <li class="fragment">Why Is Failure Bad</li>
                    <li class="fragment">Create a Mind Map</li>
                    <li class="fragment">You Are What You Will</li>
                </ul>
            </section>
        </section>
        <section id="Exercises">
            <section>
                <h1>Exercises:</h1>
                <ol>
                    <li>Surplus Nightmare</li>
                    <li>Space Invaders</li>
                </ol>
                <hr />
                <h3>Goal:</h3>
                <p>To hit a mental block and utilize a creative thinking pattern to get through it.</p>
            </section>
        </section>
        <section id="Surplus_Nightmare">
            <section>
                <h2>Surplus Nightmare</h2>
                <p>
                    <em>
                        Production has fat thumbed an order for 1 million ball bearings. You cannot return them and
                        they are taking up to much warehouse space. You need to come up with ways to get rid of them
                        and make some money back on the order if possible.
                    </em>
                </p>
                <p>Your team has 5 minutes to come up with 5 solutions.</p>
                <h3>Ready?</h3>
            </section>
            <section>
                <h1>GO!</h1>
                <ul>
                    <li>Ordered too many ball bearings</li>
                    <li>Make some money back</li>
                    <li>5 minutes : 5 ideas</li>
                </ul>
            </section>
            <section>
                <h2>Surplus Nightmare: Recap</h2>
                <ul>
                    <li class="fragment">What ideas did you have?</li>
                    <li class="fragment">Did you have 5 or more ideas?</li>
                    <li class="fragment">Were you afraid of failure?</li>
                    <li class="fragment">Did you participate?</li>
                </ul>
            </section>
        </section>
        <section id="Space_Invaders">
            <section>
                <h2>Space Invaders</h2>
                <p>
                    <em>
                        You find yourself sitting at a cluttered desk with these objects surrounding you. All of a
                        sudden aliens land out in the parking lot. They demand to only speak to this group of people.
                        They have informed you that they will destroy the Earth if you do not build them a famous
                        earthling dohickey in the next 5 minutes.
                    </em>
                </p>
                <h3>Ready?</h3>
            </section>
            <section>
                <h1>Go!</h1>
                <ul>
                    <li>Aliens Invading</li>
                    <li>Build A Dohickey</li>
                    <li>5 Minutes</li>
                </ul>
            </section>
            <section>
                <h2>Space Invaders: Recap</h2>
                <ul>
                    <li class="fragment">What did you build?</li>
                    <li class="fragment">How did it please the Aliens?</li>
                    <li class="fragment">
                        <ul>
                            Did you hit any mental blocks?
                            <li>What did you do to get over them?</li>
                        </ul>
                    </li>
                    <li class="fragment">Did you participate?</li>
                </ul>
            </section>
        </section>
        <section id="Conclusion">
            <section>
                <h2>Are you a creative person now?</h2>
            </section>
            <section>
                <h2>Sources</h2>
                <dl>
                    <dt>Strengths Finders</dt>
                    <dd>gallupstrengthscenter.com</dd>
                    <dt>Myer's Briges Personality Test</dt>
                    <dd>16personalities.com</dd>
                    <dt>Whack on the Side of the Head</dt>
                    <dd>By: Roger von Oech </dd>
                    <dt>Creative Thinking: Connect the Dots</dt>
                    <dd>youtube.com/watch?v=cYhgIlTy4yY</dd>
                </dl>
            </section>
            <section>
                <p>Thank you for listening to me.</p>
                <img src="{{ $.Site.BaseURL }}/images/PumpkinDance.gif">
                <p>
                    <em>Any Questions?</em>
                </p>
            </section>
        </section>
    </div>
</div>
{{ end }}